<div class="row item-row collection-row">
  <div class="col-lg-3">
    <div class="content">
      <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x400)"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="content h-100 position-relative">
      <h2>Collection Title</h2>
      <div class="styled-select">
        <select name="" id="">
          <option value="">Size</option>
        </select>
      </div>
      <button class="btn btn-link">Remove</button>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="content">
      <div class="d-flex align-items-center mb-3">
        <div class="styled-select mr-3">
          <select name="" id="">
            <option value="">1</option>
            <option value="">2</option>
          </select>
        </div>
        <span class="product-price">$0.00</span>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="delivery" id="delivery-weekly" value="weekly" checked>
        <label for="delivery-weekly">Weekly Delivery Item</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="delivery" id="delivery-one-time" value="one-time">
        <label for="delivery-one-time">One-Time Purchase</label>
      </div>
    </div>
  </div>
</div>