<div class="card collection-card">
  <div class="bg-image aspect-2x1" style="background-image: url(https://via.placeholder.com/768x500)"></div>
  <div class="card-body">
    <h5 class="card-title">Product title</h5>
    <div class="d-flex align-items-center justify-content-between">
      <div class="styled-select">
        <select name="" id="">
          <option value="">Option 1</option>
          <option value="">Option 2</option>
          <option value="">Option 3</option>
        </select>
      </div>
      <div class="product-price">$55.55</div>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center p-0">
    <button class="product-button w-50">
      Weekly Delivery
    </button>
    <button class="product-button w-50">
      One-Time Purchase
    </button>
  </div>
</div>