<div class="row">
  <div class="col-lg-3">
    <div class="content">
      <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x400)"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="content">
      <h2>Item Title</h2>
      <span class="text-uppercase text-light">Amount</span><br>
      <span class="text-uppercase text-light">Qty: 2</span>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="content text-right">
      <span class="product-price">$0.00</span><br>
      <button class="btn btn-link">Order Again</button>
      <p>Rate Item</p>
    </div>
  </div>
</div>