<div class="card">
  <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x300)"></div>
  <div class="card-body">
    <h5 class="card-title">Product title</h5>
    <h6>Producer Name</h6>
    <div class="d-flex align-items-center justify-content-between">
      <div>Amount / Oz</div>
      <div>$55.55</div>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center p-0">
    <button class="w-50">
      Weekly<br>
      Delivery
    </button>
    <button class="w-50">
      One-Time<br>
      Purchase
    </button>
  </div>
</div>