<div id="storenav-wrapper">
  <div class="container">
    <nav id="storenav" class="navbar navbar-expand-lg">
      
      <div class="collapse navbar-collapse " id="store-primarynav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Browse Goods <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Delivery Schedule</a>
          </li>
        </ul>
        <span class="navbar-text">
          <small class="text-gray-800">Your next delivery</small><br>
          <span class="text-primary">Wednesday 12/19</span> 
        </span>
        <span class="navbar-text">
          <small class="text-gray-800">Submit or edit your order before</small><br>
          <span class="text-primary">Sunday 12/9 by midnight</span> 
        </span>
      </div>
    </nav>
  </div>
</div>
