<div class="row">
  <div class="col-lg-3">
    <div class="content">
      <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x400)"></div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="content">
      <h2>Item Title</h2>
      <p>Amount</p>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="content">
      <div class="d-flex">
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
        </select>
        <span>$0.00</span>
      </div>
      <button>Remove</button>
    </div>
  </div>
</div>