body {
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  @include transition();
}

h1,
.h1 {
  font-weight: 300;
  text-transform: uppercase;
}

h2,
.h2 {
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
}

h3,
.h3 {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.font-family-base {
  font-family: $font-family-base;
}

.font-family-serif {
  font-family: $font-family-secondary;
}

.bold-heading {
  font-weight: 800;
  font-size: 3.5rem;
  line-height: 1;
}
