#page-footer {
  padding: 50px 0;
  @include media-breakpoint-down(md) {
    font-size: .95rem;
  }
  .nav {
    .nav-item {
      .nav-link {
        padding: 5px 0;
      }
    }
  }
  h5 {
    text-transform: uppercase;
    font-weight: 700;
    color: $white;
  }
}

.logo-footer {
  width: 150px;
  @include media-breakpoint-up(md) {
    width: 200px;
  }
}
