#filternav {
  .navbar-toggler {
    position: relative;
    width: auto;
    height: auto;
    &::before {
      content: 'filters';
      color: $gray-600;
      font-size: 14px;
      text-transform: uppercase;
    }
    .arrow-down {
      border: solid $gray-600;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      @include transition(.4s);
      transform: rotate(-135deg) translateX(-3px);
    }
    &.collapsed {
      .arrow-down {
        transform: rotate(45deg) translateX(-3px);
      }
    }
    
  }
}

#productnav {
  .navbar-nav {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-item {
    .nav-link {
      color: $gray-600;
      text-transform: uppercase;
    }
  }
}