.cart-header {
  border-bottom: 1px solid $gray-400;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    h1 {
      margin-bottom: 20px;
    }
  }

}

.delivery-details {
  a {
    display: inline-block;
    line-height: 1;
    color: $gray-400;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid $gray-400;
    margin-left: 20px;
  }
}

.cart-row {
  .styled-select {
    margin-right: 10px;
  }
}

.collection-row {
  .styled-select {
    margin: 15px 0;
  }
}