#entry-section {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.entry-content {
  width: 50%;
  background-color: $white;
  padding: 25px 100px 50px;
  margin: 0 auto;
  text-align: center;
}