---
layout: default
title: Cart Template
thumbnail_image: /assets/img/thumbnail-cart.png
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <div class="cart-header">
            <h1 class="d-lg-inline-block">Your cart</h1>
            <div class="delivery-details d-flex align-items-center">
              <span class="text-uppercase">Your next delivery
                <strong>Wednesday 12/19</strong>
              </span>
              <a href="#">
                <small>Edit Delivery<br>Schedule</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="content">
          <h2>Your Weekly Delivery</h2>
          <p>Delivery copy Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quos?</p>
        </div>
      </div>
    </div>
    {% for i in (1..2) %}
      {% include item-row.html %}
      <hr class="row-border">
    {% endfor %}
    {% include collection-row.html %}
    <div class="row">
      <div class="col-lg-9 ml-lg-auto">
        <div class="content">
          <h3>This week's goods 
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="false"
            aria-controls="collapse-1">
            <span class="hide-text">Hide</span><span class="show-text">Show</span> Items
            </button>
          </h3>
        </div>
      </div>
      <div class="col-lg-9 ml-lg-auto">
        <div id="collapse-1" class="collapse show">
          {% for i in (1..4) %}
          {% include this-week-item.html %}
          {% endfor %}
        </div>
      </div>
    </div>
    <hr class="row-border">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Your One-Time Purchases</h2>
          <p>Delivery copy Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam, quos?</p>
        </div>
      </div>
    </div>
    {% for i in (1..2) %}
    {% include item-row.html %}
    {% endfor %}
    <hr class="row-border">
    <div class="row">
      <div class="col-lg-6 ml-lg-auto">
        <div class="content">
          <div class="form-group row align-items-center">
            <label for="input-coupon-code" class="col-sm-2 col-form-label">Coupon Code</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input-coupon-code">
            </div>
          </div>
          <dl class="d-flex flex-wrap text-right">
            <dt class="w-75">Subtotal</dt>
            <dd class="w-25">$0.00</dd>
            <dt class="w-75">Delivery Fee</dt>
            <dd class="w-25">Free</dd>
            <dt class="w-75">Total</dt>
            <dd class="w-25">$0.00</dd>
          </dl>
          <a href="#" class="btn btn-secondary btn-block">Check out for Wednesday 12/19</a>
          <p class="mt-3">You have until <span class="text-primary">Sunday 12/9 by midnight</span> to edit your order</p>
        </div>
      </div>
    </div>
  </div>
</section>