---
layout: default
title: Collection Template
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="content">
          <h1>Produce Collection</h1>
          <p>Colllection Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quis hic fuga eius vitae architecto reiciendis sit odio quibusdam ab.</p>
          <select name="" id="">
            <option value="" selected disabled>Choose size</option>
            <option value=""> 1</option>
            <option value="">Option value 2</option>
            <option value="">Option value 3</option>
          </select>
          <span>$0.00 - $0.00</span>
          <div class="d-flex">
            <button class="w-50">
              Weekly<br>
              Delivery
            </button>
            <button class="w-50">
              One-Time<br>
              Purchase
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="content">
          <h2>Good Food</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, excepturi!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <h2>Mix and Match</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, excepturi!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="content">
          <h2>Skip Anytime</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, excepturi!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="content">
          <h2>Previous Deliveries</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for i in (1..12 ) %}
        <div class="col-lg-3">
          <div class="content">
            <a href="#" class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x400)"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      {% for i in (1..8) %}
        <div class="col-lg-6">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="content">
                <div class="bg-image aspect-4x3" style="background-image: url(https://via.placeholder.com/500x400)"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="content">
                <h3>Product Name</h3>
                <p>product size / amount</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% include we-recommend.html %}